* {
    margin: 0;
    padding: 0;
    border: 0;  
}
html, body {
    scroll-behavior: smooth;
    transition-timing-function: ease-in;
    text-align: center;
    background-color: black;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: white dotted 4px;
    color: white;
    overflow: hidden;  
    background-color: transparent   ;
    z-index: 1; 
}

.video {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.parallax {
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 