* {
    margin: 0;
    padding: 0;
    border: 0;  
}
html, body {
    scroll-behavior: smooth;
    transition-timing-function: ease-in;
    text-align: center;
    width: 100%;
    overflow-x: hidden;
}
body {
    background-color: black;
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    text-shadow: #555;
    font-weight: 200;
    font-size: 60px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    color: white;  
    position: relative;
   
}
#title:before{
    content: '';
    position: absolute;
    bottom: 0;
    border-bottom: white solid 1px;
    width: 90%;
}

.video {
    width: 100%;
} 
video {
    position: absolute; 
    filter: blur(6px);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

.parallax {
    min-height: 200px;  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ::-webkit-scrollbar-button {
    width: 8px;
    right: 5px;
}
::-webkit-scrollbar-track {
    color: transparent;
    box-shadow: 1px 2px 2px white;
}
::-webkit-scrollbar-track-piece {
    box-shadow: 1px 1px 3px white;
}

::-webkit-scrollbar-thumb {
    color: aliceblue;
}
::-webkit-scrollbar-thumb:hover {
    color: white;
    transition: 1s;
} */

.body p{
    color: white;
    font-family: 'ZCOOL QingKe HuangYou', cursive;;
    font-weight: lighter;
    font-size: 32px;
    text-shadow: black;
    border-radius: 24px;
    background-color: RGBA(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
}
.section {
    background-color: rgb(241, 241, 241);   
    position: relative;
    height: 600px;
    border-radius: 35x;
}
.section ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.container { 
    background-color: RGBA(255, 255, 255, 0.4);
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
    border-radius: 25px;
    border-color: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px 40px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    text-shadow: #555;
    font-weight: 200;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    color: black;  
    position: relative;
}

.exp div:hover {
    padding: 50px;
    padding-bottom: 30px;
    transition: 1s;
}
.container h1 {
    padding-bottom: 20px;
}
.container p {
    padding-bottom: 30px;
}
.container img {
    border-radius: 50px;
    
}
.header {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 25px;
    color: black;  
    position: relative;
    padding-top: 10px;
    padding-bottom: 35px;
}
.parallax-image {
    min-height: 650px;
    transform: scale(1.1);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
.image-1 {
    background-image: url("https://images.unsplash.com/photo-1570126646281-5ec88111777f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2341&q=80");
}
.image-2 {
    background-image: url("https://images.unsplash.com/photo-1541701494587-cb58502866ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
}
iframe {
    margin-top: 15px;
    padding: 10px;
    border-radius: 25px;
}       
img {
    padding: 5px;
    border: 5px solid #2196F3;;
}
.tweet {
    display: flex;
    flex-direction: row;
    position: relative;
}
.larger {
    height: 650px;
}